*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body > h3{
    text-align: center;
}
tr, td{
    border-collapse: collapse;
}
td{
    /* width: 75px;
    height: 50px; */
    font-size: 24px;
    text-align: center;
    background-color: aliceblue;
    border: 5px solid transparent;
    border-radius: 10px;
}
td:hover{
    background-color: lightgoldenrodyellow;
    box-shadow: 0 5px 5px -4px;
    transform: translateY(-5px);
    transition-duration: 0.3s;
}
table{
    width: 100%;
    border: 2px solid black;
}
.table-head > td{
    background-color: blanchedalmond;
}
.table-gray{
    background-color: lightgray;
    opacity: 0.5;
}
.table-red{
    background-color: lightcoral;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.back-img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* background-image: url("https://picsum.photos/id/265/1900/1080"); */
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
}
.form-box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.calendar-box{
    text-align: center;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.calendar-table{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
}
.calendar-img{
    width: 40%;
    height: 100%;
    /* background-image: url("https://picsum.photos/id/10/600/600"); */
    background-size: cover;
    border: 2px solid black;
    border-right: 0px;
}
.nav-box{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    /* background-color: antiquewhite; */
}
.nav-date{
    margin-left: 100px;
    margin-right: 100px;
}
.nav-box > button > a{
    text-decoration: none;
    font-size: 24px;
}